
.navigate-panel {
    margin-top: 0px;
    padding: 15px 0 5px;
}
label.nav-divider {
    position: relative;
    top: 2px;
}
body .row.chatroom {
    margin-top: 20px !important;
}
.chatroom .chatleft .col-4{
    position: relative; 
    height: 50px;
}
.Embed-mask .message.button {
    padding: 20px 40px;
    border-radius: 6px;
    background: #6fa9da !important;
    color: #ffffff !important;
    border: 0 !important;
}
.chatroom .chatleft .col-4 h1,.chatroom .chatleft .col-4 h3{
    position: absolute; 
    bottom: 0; 
} 
.chatroom .chatleft .col-4 h3{
    font-weight: 300;
    color: #333;
    font-size: 16px;
}
.chatroom .video{
    background-color: #333;
}
.chatroom .row{
    margin-bottom: 10px;
}
.chatroom .col-3 button, .chatroom .col-6 button{
    width: 100%;
    border: 5px;
    padding: 5px 25px;
    color: white;
    border-radius: 5px;
}

.chatleft {
    padding: 0px 15px;
    background-color: #3F3D56;
    position: sticky;
    top: 0;
    z-index: 99999;
    
}

 .blob {
            height: 50px;
            width: 50px;
            color: #ffcc00;
            position: absolute;
            top: 45%;
            left: 45%;
            z-index: 1;
            font-size: 30px;
            display: none;  
        }


.end{
    background-color: grey;
}
.next{
    background-color: dodgerblue;
}
.desc{
    
}
.desc .row{
    margin-top: 60px;
    width: 100%;
    margin-left: 15px;
    padding:0 5px;
    color: #fff;
}
.desc .row h1{
    text-align: center;
    font-size: 24px;
    width: 100%;
}
.about-second{
    background-color: #fd397a;
    color: #fff;
    border-radius: 8px;
}
.about-me{
    background-color: #2ecc71;
    color: #fff;
    border-radius: 8px;
}
.live_users_mn {
    padding: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #ddd;
    margin-bottom: 5px; 
    text-align: center;
}
.card.shadow-sm.connectedUserCard {
    width: 100% !important;
    background-color: #dfecf7;
    border: 0;
}
button.next.chatroom-btn {
    background-color: #6fa9da38;
    border: 0;
    color: #6fa9da;
}
.live_user_list_mn h3 {
    margin: 20px 0px 20px 0px;
    text-align: center;
}
.custom_again_join {
    cursor: pointer;
}
.custom_again_join:hover {
    color: #f33e53;
}
.edit_profile_mn {
    padding-left: 10px;
    cursor: pointer;
    font-size: 18px;
}

.userProfImg{
        border-radius: 50%;
        height: inherit;
        width: inherit;

}

.custom-scrollbar {
    width: 20%;
}

.defaultImgDisplay{
    height: inherit;
    width: inherit;
  border-radius: 50%;
  background: #060606;
  font-size: 25px;
  color: #fff;
  text-align: center;
  line-height: 77px !important;
  margin: 0px 0px !important;
}



.userLiveimg{
     height: inherit;
    width: inherit;
  border-radius: 0% !important;
}

.userProfileName {
    margin-top: 10px !important;
    margin-left: 0;
    color: #6fa9da;
    margin: 0 10px;
}

.userProfilePronounce{
    font-style: italic;
    color: #6f6969;
    font-size: 13px;
    margin-top: 6px;
    margin-left: 0px;
}


.userLiveName{
    height: 150px;
    width: 18rm;
    justify-content: center;
    /* text-align: center; */
    background-color: #1c1c2b;
    color: white;
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    font-size: 29px;
    }

.whoAmITitle {
    margin-left: 0;
    font-size: 12px;
    color: #6fa9da;
}
.profile-who-content {
    padding-bottom: 10px;
    border-bottom: 1px dashed #ffffff;
    padding-top: 10px;
}
.whoAmIContent{

    margin-left: 10px;
    font-size: 13px;
    word-wrap: break-word;
    word-break: break-word;
}

.commonTitle{

    margin-top: 10px
}

.roundimage{

 
    text-align: -webkit-center;
    height: 30px !important;
    width: 30px !important;
    margin-left: 86px;
    padding-top: 10px;
   
}

.liveUserHeading{
    margin-left: 6px;
}


 .flex-container-liveuser {
    margin-top: 20px;
    margin-left: 70px;
  display: flex !important;
  flex-wrap: nowrap;
  /*background-color: DodgerBlue;*/
}


.flex-container-liveuser > div {
 /*background-color: #f1f1f1;*/
   width: 55px;
    margin: -8px;
    text-align: center;
    line-height: 0px;
    font-size: 30px;
    border-radius: 50%;
   
    cursor: pointer;
    transition: 0.4s;
}

.img-border{
     border: 3px solid #fff;
}

.name-border{
     border: 3px solid #fff;
      /* height: 101px;
    width: 18rm;*/
    justify-content: center;
    /* text-align: center; */
    background-color: #1c1c2b;
    color: white;
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    font-size: 17px;
}


/*.liveuser-img-lst{
    
height: 43px;
    width: 43px;
    border-radius: 50%;

}
*/

.flex-container-liveuser img:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

.flex-container-liveuser p:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

.userLiveNameOther{
   /* height: 101px;
    width: 18rm;*/
    justify-content: center;
    /* text-align: center; */
    background-color: #1c1c2b;
    color: white;
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    font-size: 29px;
    }


    .flex_contents > div {
    padding: 15px 30px;
    margin-right: 10px;
    box-shadow: 0 0 3px 1px #1e90ffed;
    /*margin: 10px 10px;*/
    margin: 5px 30px;
}
.flex_contents {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
}

.row.mainrow > div:last-child {
    margin-left: auto !important;
    padding: 0;
    width: 100% - 320px;
    width: calc(100% - 20%);
}

a.icon.btnIcon {
    display: none;
}

.chatroom_imag img {
     border-radius: 50px !important;
     margin-left: -11px;
    border: 3px solid #fff;
    height: 55px !important;
    width: 55px !important;
    cursor: pointer;
    transition: 0.4s;
}
.chatroom_imag img:hover{
    transform: scale(1.1);
}
.cust_round_img {
    padding: 17px 6px;
    height: 60px !important;
    width: 60px !important;
    margin-top: -5px;
    cursor: pointer;
    transition: 0.4s;
}
.cust_round_img:hover {
    transform: scale(1.1);
}
.chatroom_imag {
    display: flex;
}
.cust_round_img {
    margin-left: -10px;
}
.cust_round_img p {
    font-size: 23px;
    margin-top: 11px;
    padding: 4px 11px;
    border: 4px solid #fff;
    border-radius: 50% !important;
}
.flex-container-liveuser {
    padding: 20px 15px 0;
    display: flex;
    justify-content: left;
    width: 100%;
    margin: 0;
}

/*.flex-container-liveuser p, img {*/
    /*border: 1px solid #626290;*/
    /*padding: 2px;*/
  /*  height: 40px;
    width: 40px;
}*/

.chatroom-btn{
    width: 100%;
    padding-right: 0;
    margin-top: 20px;
    background: #1e1e2c;
    color: #fff;
    /*box-shadow: 2px 4px 7px 0px #6d6a6a;*/
    padding: 10px !important;
    transition: 0.4s;
    border-radius: 5px;
}
.chatroom-btn:hover {
    /*box-shadow: none;*/
  /*  background: #fff;
    color: #1e1e2c !important;
    border: 1px solid #1e1e2c !important;*/
}
.main-patner-image div {
    height: 120px;
    width: 120px !important;
    margin: 10px auto;
    border: 2px solid #ffffff;
    color: white;
    background-color: #626290;
}
.userProfileName {
    font-size: 20px;
    margin-top: 26px;
    text-align: center;
    text-transform: capitalize;
}
.card-img-top {
    height: 120px;
    width: 120px;
    margin: auto;
    object-fit: cover;
    /*border: 4px solid #6fa9da;*/
}
.patner-image {
    text-align: center;
    padding-top: 15px;
}
.userProfilePronounce{
    text-align: center;
}
.live-person-card{
    padding: 20px;
    padding-top: 0;
}
.live_user_list_mn h3 {
    margin: 0 0 25px 0px !important;
    text-align: center;
    font-size: 24px;
}

label.nav-divider i {
    font-size: 19px;
    color: #cecece;
}

.chatleft h1, .chatleft a {
    font-size: 16px !important;
    margin: 20px 0 20px 0;
    color: #6fa9da !important;
}
.chatbtns {
    display: flex;
    justify-content: center;
}


.navigate-prev a{
    text-decoration: none;
   
    color:black;
    font-size:2.5rem;
}


.navigate-cur{
     font-weight: 600;
     color: white;
}
.connectedUserCard {
    margin: 0 auto !important;
}
.flex-container-liveuser {
   
    padding-top: 9px;
    margin-left: 0px;
  
}
.liveuser-img-lst {
    height: 43px;
    width: 43px;
    border-radius: 50%;
    /*border: 3px solid #ffffff;*/
}
.flex-container-liveuser > div {
    margin: 0px -12px;
    }


@media(max-width: 767px){

    .connectedUserCard {
        margin: 0 auto !important;
    }
    .flex-container-liveuser {
        overflow-x: scroll;
        padding-top: 9px;
        margin-left: 0px;
        overflow-y: hidden;
    }
    .liveuser-img-lst {
        height: 43px;
        width: 43px;
        border-radius: 50%;
        border: 3px solid #ffffff;
    }
   /* .flex-container-liveuser > div {
        margin: 0 -8px;
    }*/

}
@media(min-width: 768px) and (max-width: 1023px){

    .connectedUserCard {
        margin: 0 auto !important;

    }

    .flex-container-liveuser{ 
        overflow: scroll;
        padding-top: 9px;
        margin-left: 0px;
    }

}
@media(min-width: 1024px) and (max-width: 1150px){

    .connectedUserCard {
        margin: 0 auto !important;

    }
    .connectedUserCard{
        width: 13rem !important;
    }
    .chatroom-btn {
        width: 217%;
    }
    .cust-your-connection {
        overflow: hidden;
    }
    .card-img-top {
            margin: 10px 9px;
    }
    .row.chatbtns {
        display: flex;
        justify-content: left;
    }

    .flex-container-liveuser{ 
        overflow: scroll;
        padding-top: 9px;
        margin-left: 0px;
    }
} 



/*.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: flex !important;
*/    /*justify-content: center;
    margin: 25px 0 0;*/
/*}
*/


/*.flex-container-liveuser {
   overflow: scroll;
   overflow-x: hidden;
   padding-top: 9px;
   margin-left: 0px;
   padding-left: 10px;
}
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}*/